{% extends "base.html" %}
{% load i18n %}
{% block body_class %}{{ block.super }} home{% endblock %}


{% block menu %}
    <li><a href="{% url 'home' %}">Home</a></li>
    <li class="active"><a href="{% url 'roster' %}">Roster</a></li>
    <li><a href="{% url 'account_list' %}">Accounts</a></li>
{% endblock %}


{% block sidebar %}
{% endblock %}

{% block content %}
    <table class="table">
        <tr><th>UID</th><td>{{ user.uid }}</td></tr>
        <tr><th>Type</th><td>{{ user.type.name }}</td></tr>
        <tr><th>Nick</th><td>{{ user.nickname }}</td></tr>
        <tr><th>Full Name</th><td>{{ user.first_name }} {{ user.middle_name }} {{ user.surname }}</td></tr>
        <tr><th>Email</th><td>{{ user.email }}</td></tr>
        <tr><th>Phone</th><td>{{ user.phone }}</td></tr>
        <tr><th>Born</th><td>{{ user.born|date:"Y" }}</td></tr>
        <tr><th>IRL</th><td>{{ user.irl }}</td></tr>
        <tr><th>Comment</th><td>{{ user.comment }}</td></tr>
        <tr><th>Balance</th><td> <a href="{% url 'account_detail' user.logic_account.id %}">{{ balance }}</a> {% if balance > 0 %}(debt){% elif balance < 0 %}(credit){% endif %}</td></tr>
        {% for principal in principals %}
            <tr><th>{{ principal.type.name }} {{ principal.name }}</th><td>{{ principal.value }}</td></tr>

        {% endfor %}
        <tr><th>Events</th><td>
            {% for event in events %}
                {{ event.date|date:'Y-m-d' }}: <i>{{ event.type.name }}</i> {% if event.reason %} {{ event.reason }} {% endif %}
                <br/>
            {% endfor %}
        </td></tr>
    </table>
{% endblock %}

{% block javascript %}
{% endblock  %}

{% block footer %}
{% endblock  %}
