{% extends "base.html" %}
{% load i18n %}
{% block body_class %}{{ block.super }} home{% endblock %}

 {% block menu %}
    <li><a href="{% url 'home' %}">Home</a></li>
    <li><a href="{% url 'roster' %}">Roster</a></li>
    <li><a href="{% url 'account_list' %}">Accounts</a></li>
     <li class="active"><a href="{% url 'transaction_list' %}">Transactions</a></li>
{% endblock %}

{% block sidebar %}
{% endblock %}

{% block content %}
    {% if not authorized %}
        <h3>You are not authorized to view transactions.</h3>
    {% else %}

        <h3>Transactions</h3>

        <ul class="nav nav-tabs">

            <li>
                <a href="{% url 'transaction_list' %}">
                    Accounting
                    &nbsp;
                    <span class="badge badge-info pull-right">{{ counts.transactions }}</span>
                </a>
            </li>
            <li class="{% if not ignored %}active{% endif %}">
                <a href="{% if ignored %}{% url 'bank_transaction_list' 'new' %}{% else %}#{% endif %}">
                    Unpaired bank transactions
                    &nbsp;
                    <span class="badge badge-info pull-right">{{ counts.bank_transactions }}</span>
                </a>
            </li>
            <li class="{% if ignored %}active{% endif %}">
                <a class="muted" href="{% if not ignored %}{% url 'bank_transaction_list' 'ignored' %}{% else %}#{% endif %}">
                    Ignored bank transactions
                    &nbsp;
                    <span class="badge pull-right">{{ counts.ignored_bank_transactions }}</span>
                </a>
            </li>
        </ul>
        {% if transactions.has_previous or transactions.has_next %}
            <div class="pagination pagination-small pagination-right">
                <ul>
                    {% if transactions.has_previous %}
                        <li><a data-toggle="tooltip" title="First" href="?page=1">&lt;&lt;</a></li>
                        <li><a data-toggle="tooltip" title="Previous" href="?page={{ transactions.previous_page_number }}">&lt;</a></li>
                    {% else %}
                        <li class="disabled"><span data-toggle="tooltip" title="First">&lt;&lt;</span></li>
                        <li class="disabled"><span  data-toggle="tooltip" title="Previous">&lt;</span></li>
                    {% endif %}

                    <li class="disabled"><span>Page {{ transactions.number }} of {{ transactions.paginator.num_pages }}</span></li>



                    {% if transactions.has_next %}
                        <li><a data-toggle="tooltip" title="Next" href="?page={{ transactions.next_page_number }}">&gt;</a></li>
                        <li><a data-toggle="tooltip" title="Last" href="?page={{ transactions.paginator.num_pages }}">&gt;&gt;</a></li>
                    {% else %}
                        <li class="disabled"><span data-toggle="tooltip" title="Next">&gt;</span></li>
                        <li class="disabled"><span  data-toggle="tooltip" title="Last">&gt;&gt;</span></li>
                    {% endif %}
                </ul>
            </div>
        {% endif %}

        <table class="table table-hover" style="display: table">
            <tr>
                <th>id</th>
                <th>date</th>
                <th>amount</th>
                <th>currency</th>
                <th>comment</th>
                <th></th>
            </tr>
            {% for transaction in transactions %}
                <tr>
                    <td><a href="{% url 'bank_transaction_detail' transaction.id %}">#{{ transaction.id }}</a></td>
                    <td>{{ transaction.date|date:'Y-m-d' }}</td>
                    <td>{{ transaction.amount }}</td>
                    <td>{{ transaction.currency }}</td>
                    <td>{{ transaction.comment }}</td>
                    <td>
                        <form action="{% url 'bank_transaction_ignore' %}?nexturl={{ request.get_full_path|urlencode }}" method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="id" value="{{ transaction.id }}">
                            <button class="close" data-toggle="tooltip" data-placement="top" data-original-title="Ignore">&times;</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </table>
        {% if transactions.has_previous or transactions.has_next %}
            <div class="pagination pagination-small pagination-right">
                <ul>
                    {% if transactions.has_previous %}
                        <li><a data-toggle="tooltip" title="First" href="?page=1">&lt;&lt;</a></li>
                        <li><a data-toggle="tooltip" title="Previous" href="?page={{ transactions.previous_page_number }}">&lt;</a></li>
                    {% else %}
                        <li class="disabled"><span data-toggle="tooltip" title="First">&lt;&lt;</span></li>
                        <li class="disabled"><span  data-toggle="tooltip" title="Previous">&lt;</span></li>
                    {% endif %}

                    <li class="disabled"><span>Page {{ transactions.number }} of {{ transactions.paginator.num_pages }}</span></li>



                    {% if transactions.has_next %}
                        <li><a data-toggle="tooltip" title="Next" href="?page={{ transactions.next_page_number }}">&gt;</a></li>
                        <li><a data-toggle="tooltip" title="Last" href="?page={{ transactions.paginator.num_pages }}">&gt;&gt;</a></li>
                    {% else %}
                        <li class="disabled"><span data-toggle="tooltip" title="Next">&gt;</span></li>
                        <li class="disabled"><span  data-toggle="tooltip" title="Last">&gt;&gt;</span></li>
                    {% endif %}
                </ul>
            </div>
        {% endif %}
    {% endif %}
{% endblock %}

{% block javascript %}
{% endblock  %}

{% block footer %}

{% endblock  %}
