{% extends "base.html" %}
{% load i18n %}
{% load bootstrap_toolkit %}
{% block body_class %}{{ block.super }} home{% endblock %}


{% block menu %}
    <li><a href="{% url 'home' %}">Home</a></li>
    <li class="active"><a href="{% url 'roster' %}">Roster</a></li>
    <li><a href="{% url 'account_list' %}">Accounts</a></li>
    <li><a href="{% url 'transaction_list' %}">Transactions</a></li>
{% endblock %}


{% block sidebar %}
{% endblock %}

{% block content %}
    <h3>Add new buddy</h3>

    <form method="POST" class="post-form" action="{% url 'buddy_add_new' %}">
        {% csrf_token %}
        {% bootstrap_form forms.add_buddy %}
        <button type="submit" class="save btn btn-primary">Save</button>

    </form>
{% endblock %}

{% block javascript %}
{% endblock  %}

{% block footer %}
{% endblock  %}