{% extends "base.html" %}
{% load i18n %}
{% block body_class %}{{ block.super }} home{% endblock %}

{% block content %}
    <h3>Welcome to BrmBuro SAP</h3>

    <p>
        To view your roster detail, you must login and follow roster link given to you.
    </p>

    <p>
        In order to view full roster, account and transaction details or modify buddies, you must login as superuser.
    </p>
{% endblock %}

{% block javascript %}
{% endblock  %}

{% block footer %}
    BrmBuro&reg; SAP
{% endblock  %}
