{% extends "base.html" %}
{% load i18n %}
{% block body_class %}{{ block.super }} home{% endblock %}


{% block menu %}
    <li><a href="{% url 'home' %}">Home</a></li>
    <li class="active"><a href="{% url 'roster' %}">Roster</a></li>
    <li><a href="{% url 'account_list' %}">Accounts</a></li>
    <li><a href="{% url 'transaction_list' %}">Transactions</a></li>
{% endblock %}


{% block sidebar %}
{% endblock %}

{% block content %}
    {% if no_such_uid %}
        <h3>No such uid: {{ uid }}.</h3>
    {% elif not authorized %}
        <h3>You are not authorized to view {{ buddy.nickname }}'s details.</h3>
    {% else %}
        <h3>Buddy details</h3>
        <table class="table table-hover">
            <tr><th>UID</th><td>{{ buddy.uid }}</td></tr>
            <tr><th>Type</th>
                <td>
                    {{ buddy.type.name }}
                    {% if can_edit %}
                        <div class="btn-group pull-right">
                            <button class=" btn btn-info">Discount</button>
                            <button class=" btn btn-warning">Suspend</button>
                            <button class=" btn btn-danger">Terminate</button>
                        </div>
                    {% endif %}
                </td>
            </tr>
            <tr><th>Nick</th><td>{{ buddy.nickname }}</td></tr>
            <tr><th>Full Name</th><td>{{ buddy.first_name }} {{ user.middle_name }} {{ user.surname }}</td></tr>
            <tr><th>Email</th><td>{{ buddy.email }}</td></tr>
            <tr><th>Phone</th><td>{{ buddy.phone }}</td></tr>
            <tr><th>Born</th><td>{{ buddy.born|date:"Y" }}</td></tr>
            <tr><th>IRL</th><td>{{ buddy.irl }}</td></tr>
            <tr><th>Comment</th><td>{{ buddy.comment }}</td></tr>
            <tr><th>Account balance</th><td> <a href="{% url 'account_detail' buddy.logic_account.id %}">{{ balance }}</a></td></tr>
            {% for principal in principals %}
                <tr><th>{{ principal.type.name }} {{ principal.name }}</th><td>{{ principal.value }}</td></tr>

            {% endfor %}
            {% if events.exists %}
                <tr><th>Events</th>
                    <td>
                        <table class="table table-condensed table-bordered">
                            <tr>
                                <th>date</th>
                                <th>type</th>
                                <th>amount</th>
                                <th>currency</th>
                                <th>comment</th>
                            </tr>

                            {% for event in history %}
                                <tr class={{ event.color }}>
                                    <td>{{ event.date|date:'Y-m-d' }}</td>
                                    <td>{{ event.type }}</td>
                                    <td>{{ event.amount }}</td>
                                    <td>{{ event.currency }}</td>
                                    <td>{% if event.reason %} {{ event.reason }} {% endif %}</td>
                                </tr>
                            {% endfor %}
                        </table>
                    </td>
                </tr>
            {% endif %}
        </table>
    {% endif %}
{% endblock %}

{% block javascript %}
{% endblock  %}

{% block footer %}
{% endblock  %}
