{% extends "base.html" %}
{% load i18n %}
{% block body_class %}{{ block.super }} home{% endblock %}


{% block menu %}
    <li><a href="{% url 'home' %}">Home</a></li>
    <li class="active"><a href="{% url 'roster' %}">Roster</a></li>
    <li><a href="{% url 'account_list' %}">Accounts</a></li>
    <li><a href="{% url 'bank_transaction_list' 'new' %}">Transactions</a></li>
{% endblock %}

{% block sidebar %}
{% endblock %}

{% block content %}
    {% if not authorized %}
        <h3>You are not authorized to view full roster.</h3>
    {% else %}
        <h3>Roster</h3>
        <table class="table table-hover" style="display: table">
            <tr>
                <th>uid</th>
                <th>nick</th>
                <th>balance</th>
                <th>type</th>
                <th>name</th>
            </tr>
            {% for user,balance in users %}
                <tr>
                    <td><a href="{% url 'roster_user' user.uid %}">{{ user.uid }}</a></td>
                    <td>{{ user.nickname }}</td>
                    <td><a href="{% url 'account_detail' user.logic_account.id %}">{{ balance }}</a></td>
                    <td>{{ user.type.name }}</td>
                    <td>{{ user.first_name }} {{ user.middle_name }} {{ user.surname }}</td>
                </tr>
            {% endfor %}

        </table>
    {% endif %}
{% endblock %}

{% block javascript %}
{% endblock  %}

{% block footer %}
{% endblock  %}
